---
import BentoItem from './BentoItem.astro'

import { getI18N } from '../i18n'
const { currentLocale } = Astro
const i18N = getI18N({ currentLocale })
---

<section class="mx-auto grid w-full max-w-[1400px] auto-rows-[30rem] grid-cols-10 gap-4 p-20">
	<BentoItem className="col-span-10 md:col-span-4" title={i18N.BENTO_TITLE_1}>
		<div
			slot="image"
			class="absolute bottom-0 left-0 top-0 -z-10 h-full w-full bg-blue-950 bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
			style="background-image: url('/andorraMountain.webp')"
		>
		</div>
		<p slot="content" class="text-default max-w-xl" set:html={i18N.BENTO_CONTENT_1} />
	</BentoItem>
	<BentoItem
		className="col-span-10 md:col-span-6"
		title={i18N.BENTO_TITLE_2}
		subtitle={i18N.BENTO_SUBTITLE_2}
	>
		<div slot="content">
			<p class="text-default" set:html={i18N.BENTO_CONTENT_2} />
		</div>
		<div
			slot="image"
			class="transition-scale absolute bottom-0 left-0 top-0 -z-10 h-full w-full bg-blue-950 bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
			style="background-image: url('/andorraLandscape.webp')"
		>
		</div>
	</BentoItem>
	<BentoItem
		className="col-span-10 md:col-span-6"
		title={i18N.BENTO_TITLE_3}
		subtitle={i18N.BENTO_SUBTITLE_3}
	>
		<p slot="content" class="text-default" set:html={i18N.BENTO_CONTENT_3} />
		<div
			slot="image"
			class="transition-scale absolute bottom-0 left-0 top-0 -z-10 h-full w-full bg-blue-950 bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
			style="background-image: url('/theGrefg.webp')"
		>
		</div>
	</BentoItem>
	<BentoItem className="col-span-10 md:col-span-4" title={i18N.BENTO_TITLE_4}>
		<p class="text-default" slot="content" set:html={i18N.BENTO_CONTENT_4} />
		<div
			slot="image"
			class="transition-scale absolute bottom-0 left-0 top-0 -z-10 h-full w-full bg-blue-950 bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
			style="background-image: url('/developer.webp')"
		>
		</div>
	</BentoItem>
</section>
