---
import { Image } from 'astro:assets'
import esland from '../../public/eslandLogo.svg'

import { getI18N } from '../i18n'
const { currentLocale } = Astro
const i18N = getI18N({ currentLocale })
---

<section class="mx-auto my-16 max-w-[70ch] text-pretty p-6 text-left text-xl md:px-20">
	<Image src={esland} alt="Logo de los Esland" class="m-auto mb-10 w-16" />
	<h1 class="mx-auto mb-10 text-wrap text-center text-4xl font-semibold tracking-wide">
		{i18N.INTRO_TITLE}
		<br />
		{i18N.INTRO_TITLE_AFTER_BR}
	</h1>
	<p class="text-default" set:html={i18N.INTRO_DESCRIPTION_1} />
	<p class="text-default" set:html={i18N.INTRO_DESCRIPTION_2} />
	<p class="text-default" set:html={i18N.INTRO_DESCRIPTION_3} />
</section>
